<div class="btn_text_models mt-2">
    <button type="button" class="btn btn-light btn-sm  gap-1  me-1 mb-1 " data-bs-toggle="modal"
        data-bs-target="#modalAddBtnShortcut"><i class="bi bi-gear-wide"></i> Atalhos </button>
    <button type="button" class="btn btn-primary btn-sm  gap-1  me-1 mb-1">Primary</button>
    <button type="button" class="btn btn-secondary btn-sm  gap-1  me-1 mb-1">Secondary</button>
    <button type="button" class="btn btn-success btn-sm  gap-1  me-1 mb-1">Success</button>
    <button type="button" class="btn btn-danger btn-sm  gap-1  me-1 mb-1">Danger</button>
    <button type="button" class="btn btn-warning btn-sm  gap-1  me-1 mb-1">Warning</button>
    <button type="button" class="btn btn-info btn-sm  gap-1  me-1 mb-1">Info</button>
    <button type="button" class="btn btn-light btn-sm  gap-1  me-1 mb-1">Light</button>
    <button type="button" class="btn btn-dark btn-sm  gap-1  me-1 mb-1">Dark</button>
    <button type="button" class="btn btn-link btn-sm   gap-1  me-1 mb-1">Link</button>
</div>



<div class="modal fade" id="modalAddBtnShortcut" tabindex="-1" aria-labelledby="modalAddBtnShortcutLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalAddBtnShortcutLabel">Botão de atalho</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <Label>Digite o atalho abaixo</Label>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" aria-label="Sizing example input"
                        aria-describedby="inputGroup-sizing-sm">
                </div>

                <Label>Selecione uma cor</Label><br>
                <!-- Paleta Edge -->
                <div class="btn-shortcut mb-2 d-inline" role="shortcut" aria-label="Edge Colors" onclick="handlePaletteClick(event)" >
                    <button class="btn p-3 rounded-0" style="background-color: rgba(0, 103, 184, 1);" data-palette="edge" data-index="0"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                    <button class="btn p-3 rounded-0" style="background-color: rgba(0, 128, 0, 1);" data-palette="edge" data-index="1"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                    <button class="btn p-3 rounded-0" style="background-color: rgba(255, 92, 160, 1);" data-palette="edge" data-index="2"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                    <button class="btn p-3 rounded-0" style="background-color: rgba(102, 0, 153, 1);" data-palette="edge" data-index="3"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                    <button class="btn p-3 rounded-0" style="background-color: rgba(255, 120, 0, 1);" data-palette="edge" data-index="4"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                    <button class="btn p-3 rounded-0" style="background-color: rgba(200, 0, 40, 1);" data-palette="edge" data-index="5"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                    <button class="btn p-3 rounded-0" style="background-color: rgba(255, 200, 0, 1);" data-palette="edge" data-index="6"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                    <button class="btn p-3 rounded-0" style="background-color: rgba(100, 100, 100, 1);" data-palette="edge" data-index="7"  :data-serv="index" ><i class="bi bi-check-circle"></i></button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>