<div class="container_services">
  <div v-for="(item, index) in serviceItems" :key="index"  class="service" >
    
    

	  <div class="service_colors_arrows">
        @include('apps/services/btns_colors')

      <label class="card_name_user text">Nome</label>

      <div class="slider-controls">
        <button onclick=""><i class="bi bi-ui-checks text-white"></i></button>
        <button onclick=""><i class="bi bi-arrow-counterclockwise text-white"></i></button>

        <button onclick="showService(currentIndex - 1)"><i class="bi bi-arrow-left text-white"></i></button>
        <button onclick="showService(currentIndex + 1)"><i class="bi bi-arrow-right text-white"></i></button>
      </div>
    </div>

    @include('apps/services/acordion_care')
    @include('apps/services/acordion_scheduling')
    @include('apps/services/acordion_service')
    @include('apps/services/text_editor')
</div>
  
</div>