<!-- Paleta Chrome -->
<!-- <div class="btn-toolbar mb-2" role="toolbar" aria-label="Chrome Colors" onclick="handlePaletteClick(event)">
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(0, 120, 212, 0.6);" data-palette="chrome" data-index="0"></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(0, 153, 0, 0.6);" data-palette="chrome" data-index="1"></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(255, 105, 180, 0.6);" data-palette="chrome" data-index="2"></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(128, 0, 128, 0.6);" data-palette="chrome" data-index="3"></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(255, 140, 0, 0.6);" data-palette="chrome" data-index="4"></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(220, 20, 60, 0.6);" data-palette="chrome" data-index="5"></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(255, 215, 0, 0.6);" data-palette="chrome" data-index="6"></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(128, 128, 128, 0.6);" data-palette="chrome" data-index="7"></button>
</div> -->

<!-- Paleta Edge -->
<div class="btn-toolbar mb-2 d-inline" role="toolbar" aria-label="Edge Colors" onclick="handlePaletteClick(event)" >
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(0, 103, 184, 1);" data-palette="edge" data-index="0"  :data-serv="index" ></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(0, 128, 0, 1);" data-palette="edge" data-index="1"  :data-serv="index" ></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(255, 92, 160, 1);" data-palette="edge" data-index="2"  :data-serv="index" ></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(102, 0, 153, 1);" data-palette="edge" data-index="3"  :data-serv="index" ></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(255, 120, 0, 1);" data-palette="edge" data-index="4"  :data-serv="index" ></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(200, 0, 40, 1);" data-palette="edge" data-index="5"  :data-serv="index" ></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(255, 200, 0, 1);" data-palette="edge" data-index="6"  :data-serv="index" ></button>
  <button class="btn btn-sm p-2 rounded-0" style="background-color: rgba(100, 100, 100, 1);" data-palette="edge" data-index="7"  :data-serv="index" ></button>
</div>
