<div class="mb-2">

    <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio-setor" id="btnradio-setor1" autocomplete="off"
            checked>
        <label class="btn btn-outline-primary" for="btnradio-setor1">Faster</label>

        <input type="radio" class="btn-check" name="btnradio-setor" id="btnradio-setor2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio-setor2">Desk</label>
    </div>

    <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio-mode-func" id="btnradio-mode-func1"
            autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio-mode-func1">Telefone</label>

        <input type="radio" class="btn-check" name="btnradio-mode-func" id="btnradio-mode-func2"
            autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio-mode-func2">Chat</label>
    </div>


    <div class="btn-group btn-group-sm mb-1" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio-func" id="btnradio-func1" autocomplete="off"
            checked>
        <label class="btn btn-outline-primary" for="btnradio-func1">Atendimento</label>

        <input type="radio" class="btn-check" name="btnradio-func" id="btnradio-func2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio-func2">Retorno</label>
    </div>
</div>