<div class="mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item" onclick="showService(0)">
            <a class="nav-link" href="#">1</a>
        </li>
        <li class="nav-item" onclick="showService(1)">
            <a class="nav-link" href="#">2</a>
        </li>

        <li class="nav-item" onclick="showService(2)">
            <a class="nav-link" href="#">3</a>
        </li>

        <li class="nav-item" onclick="showService(3)">
            <a class="nav-link" href="#">4</a>
        </li>

        <li class="nav-item" onclick="showService(4)">
            <a class="nav-link" href="#">5</a>
        </li>

        <li class="nav-item" onclick="showService(5)">
            <a class="nav-link" href="#">6</a>
        </li>

        <li class="nav-item" onclick="showService(6)">
            <a class="nav-link" href="#">7</a>
        </li>

        <li class="nav-item" onclick="showService(7)">
            <a class="nav-link" href="#">8</a>
        </li>

    </ul>
</div>